// =============== Start Pwa ===============
link(rel="manifest" href="manifest.json") 
link(rel="shortcut icon" href="images/icons/icon-128.webp" type="images/x-icon")
// ios support
link(rel="apple-touch-icon" href="images/icons/icon-24.webp")
link(rel="apple-touch-icon" href="images/icons/icon-32.webp")
link(rel="apple-touch-icon" href="images/icons/icon-48.webp")
link(rel="apple-touch-icon" href="images/icons/icon-64.webp")
link(rel="apple-touch-icon" href="images/icons/icon-72.webp")
link(rel="apple-touch-icon" href="images/icons/icon-96.webp")
link(rel="apple-touch-icon" href="images/icons/icon-128.webp")
link(rel="apple-touch-icon" href="images/icons/icon-256.webp")
meta(name="apple-mobile-web-app-status-bar" content="#1d78f7") 
meta(name="theme-color" content="#1d78f7")
meta(name="application-name" content="Tabib On Time")
link(rel="icon" sizes="16x16 32x32 48x48" href="images/icons/icon-256.webp") 
link(rel="icon" sizes="512x512" href="images/icons/icon-256.png") 
// =============== End Pwa ===============