<!-- Swiper -->
// Swiper
div(class="slider")
  //- div(class="container")
  div( class="swiper mySwiper")
    div( class="swiper-wrapper")
      div( class="swiper-slide") 
        div(class="inner")
          div(class="img")
            img(src="images/slider/slider-1.webp" alt="")
          div(class="text")
            div(class="img")
            div(class="content")
              h4(class="title")  Know everything related to the health of the child
              p(class="lead description")   10 important steps to treat lack of focus in studying, distraction and forgetfulness A frequent question for most parents...

      div( class="swiper-slide") 
        div(class="inner")
          div(class="img")
            img(src="images/slider/slider-2.webp" alt="")
          div(class="text")
            div(class="img")
            div(class="content")
              h4(class="title")  Know everything related to the health of the child
              p(class="lead description")  10 important steps to treat lack of focus in studying, distraction and forgetfulness A frequent question for most parents...

      div( class="swiper-slide") 
        div(class="inner")
          div(class="img")
            img(src="images/slider/slider-3.webp" alt="")
          div(class="text")
            div(class="img")
            div(class="content")
              h4(class="title")  Know everything related to the health of the child
              p(class="lead description") 10 important steps to treat lack of focus in studying, distraction and forgetfulness A frequent question for most parents...

      div( class="swiper-slide") 
        div(class="inner")
          div(class="img")
            img(src="images/slider/slider-4.webp" alt="")
          div(class="text")
            div(class="img")
            div(class="content")
              h4(class="title") Know everything related to the health of the child
              p(class="lead description")  10 important steps to treat lack of focus in studying, distraction and forgetfulness A frequent question for most parents...

    div( class="swiper-button-next")
    div( class="swiper-button-prev")
    div( class="swiper-pagination")
    div( class="autoplay-progress")
      svg( viewBox="0 0 48 48")
        circle( cx="24" cy="24" r="20")
      span(class="")
