footer(class="footer")
  div(class='overlay')
  div(class='container')
    div(class='wrapper')
      div(class='inner')
        div(class='content')
          div(class='item')
            div(class='img')
              img(src="images/icons/icon.webp" alt="alt")
            div(class='social')
              a(href="https://www.facebook.com/profile.php?id=100080473917560" class="" target="_blank")
                i(class="fab fa-facebook facebook-icon")
              a(href="https://www.instagram.com/learn.coding.easy/" class="" target="_blank")
                i(class="fab fa-instagram instagram-icon")
              a(href="https://twitter.com/CodingEasy0100" class="" target="_blank")
                i(class="fab fa-twitter twitter-icon")
              a(href="https://www.buymeacoffee.com/learncodingeasy" class="" target="_blank")
                i(class="fas fa-coffee coffee-icon")
              a(href="https://wa.me/+201101853042" class="" target="_blank")
                i(class="fab fa-whatsapp whatsapp-icon")

          div(class='item')
            div(class='contentWebsite')
              p(class="") Website content
            ul(class="linksWebsite")
              li(class="")
                a(href="#") 
                  i(class="fas fa-arrow-right iconName-icon")
                  span(class="") Home
              li(class="")
                a(href="#") 
                  i(class="fas fa-arrow-right iconName-icon")
                  span(class="") book an appointment
              li(class="")
                a(href="#") 
                  i(class="fas fa-arrow-right iconName-icon")
                  span(class="") Most frequently asked questions
              li(class="")
                a(href="#") 
                  i(class="fas fa-arrow-right iconName-icon")
                  span(class="") vacant jobs
              li(class="")
                a(href="#") 
                  i(class="fas fa-arrow-right iconName-icon")
                  span(class="") About Website
              li(class="")
                a(href="#") 
                  i(class="fas fa-arrow-right iconName-icon")
                  span(class="") Website for Doctors
              li(class="")
                a(href="#") 
                  i(class="fas fa-arrow-right iconName-icon")
                  span(class="") terms and conditions
              li(class="")
                a(href="#") 
                  i(class="fas fa-arrow-right iconName-icon")
                  span(class="") privacy policy


          div(class='item')
            div(class='contactWithUs')
              p(class="title") Connect with us
            div(class='contactWithUsCall')
              a(href="tel:+201101853042") 
                i(class="fas fa-phone phone-icon")
                span(class="") +0201101853042
              a(href="mailto:learncodingeasy0100@gmail.com" class="" target="_blank") 
                i(class="fas fa-envelope phone-icon")
                span(class="") learncodingeasy0100@gmail.com
              a(href="#") 
                i(class="fas fa-map-marker phone-icon")
                span(class="") 39 Khalil Al-Khayat Kafr Abdo - Alexandria

          div(class='item')
            div(class='subscribe')
              p(class='data-text') Subscribe now to the mailing newsletter
            div(class='subscribe-input')
              input( type="text" class="form-control" placeholder="Type Your Email")
              button(class="") subscribe now
        // Copyright
        div(class='copyright')
          p(class="text") © All Rights Are Save  
            a(href='https://learncodingeasy-51672.web.app/' target="_blank")  Learn Coding Easy 
            span(class="copyrightYear")






