// Loading
div( id="preloader")
  div( class="preloader-area")
    div( class="preloader-box")
      div( class="preloader")

// Change Theme
//- div(class="change-theme" id="change-theme")
//-   i(class="fas fa-moon" id="change-theme-icon")

// Back To Top
div(class="back-to-top") Top
