//- <script type="module">
//-   //- Import the functions you need from the SDKs you need
//-   //- call Object from the Firebase to Initialize app
//-   //- لتهيئة التطبيق Firebase   من ال  Object  استدعاء
//-   import { initializeApp } from "https://www.gstatic.com/firebasejs/9.17.2/firebase-app.js";

//-   //- TODO: Add SDKs for Firebase products that you want to use
//-   //- https://firebase.google.com/docs/web/setup#available-libraries

//-   //- Your web app's Firebase configuration
//-   //- For Firebase JS SDK v7.20.0 and later, measurementId is optional
//-   const firebaseConfig = {
//-     apiKey: "AIzaSyAcCwWbrWY4FjFBYkNSp_BQOjNiDoNjbmc",
//-     authDomain: "codepwa.firebaseapp.com",
//-     projectId: "codepwa",
//-     storageBucket: "codepwa.appspot.com",
//-     messagingSenderId: "248459805773",
//-     appId: "1:248459805773:web:43a36e56a2c70cdb0b4804",
//-     measurementId: "G-E310W66C9K"
//-   };

//-   //- تهيئة التطبيق
//-   //- initialize firebase App
//-   const app = initializeApp(firebaseConfig);
//-   console.log('app: ', app);

//- </script>
//- script(type="module" src="https://www.gstatic.com/firebasejs/9.17.0/firebase-app.js")
//- script(type="module" src="https://www.gstatic.com/firebasejs/9.17.0/firebase-firestore.js")
//- script(type="module" src="https://www.gstatic.com/firebasejs/9.17.0/firebase-auth.js")
//- script(type="module" src="https://www.gstatic.com/firebasejs/9.17.0/firebase-app.js")

//- <script src="https://www.gstatic.com/firebasejs/9.17.2/firebase-app.js"></script>
//- <script src="https://www.gstatic.com/firebasejs/9.18.0/firebase-firestore.js"></script>
//- <script src="https://www.gstatic.com/firebasejs/9.17.2/firebase-auth.js"></script>

<!-- يمكنك إضافة ملفات أخرى إذا كنت تستخدم خدمات Firebase أخرى -->

//- <script type="module">
script(type="module").
  //- Import the functions you need from the SDKs you need
  //- call Object from the Firebase to Initialize app
  //- لتهيئة التطبيق Firebase   من ال  Object  استدعاء
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.17.2/firebase-app.js";
  //- import { initializeApp } from "@firebase/app";

  //- Your web app's Firebase configuration
  //- For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyAcCwWbrWY4FjFBYkNSp_BQOjNiDoNjbmc",
    authDomain: "codepwa.firebaseapp.com",
    projectId: "codepwa",
    storageBucket: "codepwa.appspot.com",
    messagingSenderId: "248459805773",
    appId: "1:248459805773:web:43a36e56a2c70cdb0b4804",
    measurementId: "G-E310W66C9K"
  };

  //- تهيئة التطبيق
  //- initialize firebase App
  const app = initializeApp(firebaseConfig);

