include meta.pug

title Tabib On Time
link(rel="shortcut icon" href="/images/icons/favicon.webp" type="image/x-icon")
// =============== Bootstrap V5.2.2 ===============
// =============== https://getbootstrap.com/ ===============
link(rel="stylesheet" href="css/libs/bootstrap/bootstrap.min.css")
script(src="js/libs/bootstrap/bootstrap.min.js")

// =============== swiper ===============
// =============== https://swiperjs.com/ ===============
link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css")
script(src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js") 

// =============== fontawesome V5 ===============
// ===============  ===============
link(rel="stylesheet" href="css/libs/fontawesome/all.min.css")



// My Style
link(rel="stylesheet" href="css/style.css")


// Google Map
//- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDEGd-tXu2iz23vMMxSw4WAvl2WRCX32M")

include ../pwa/head.pug


