doctype html
html(lang="en")
  head
    include head/head.pug

  body 
    include header/header.pug

    include global/global.pug


    section(id="home") Home 
    section(id="about") About Us


    //- script(src="js/script.js")
    script(src="http://localhost:35729/livereload.js")